@model PostViewModel

<a title="Show More" asp-area="" asp-controller="Posts" asp-action="Details" asp-route-id="@Model.PostId" class="a-card">
    <div class="card">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Image">
        <div class="card-body">
            <h5 style="text-align: center;" class="card-title">@Model.Title</h5>
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center div-position">
                    <p class="link-muted me-2"><i style="font-size:24px" class="fa">&#xf087;</i>    @Model.LikesCount</p>
                    <p class="link-muted"><i style="font-size:24px" class="fa">&#xf27b;</i>   @Model.CommentsCount</p>
                </div>
            </div>
        </div>
    </div>
</a>
